* {
    margin: 0;
    padding: 0;
}
.main_wrap {
    width: 100%;
    height: 150%;
    background-color: #0d1117;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main_content_wrap {
    width: 67%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Nav 컴포넌트 디자인 */
.Nav_box {
    width: 100%;
    height: 5%;
    background-color: #161b22;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Main_icon {
    margin: 1%;
}
.Main_title {
    margin-left: 4%;
    font-weight: bold;
    font-size: 2.5vh;
    color: white;
}
.Main_link_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    width: 20%;
}
.Main_link_bar div {
    color: white;
    font-size: 2vh;
    font-weight: bold;
}
.Main_link_bar div:hover {
    color: rgb(181, 181, 181);
    cursor: pointer;
}
.Nav_profile {
    position: relative;
    left: 53%;
    width: 2%;
    border-radius: 50%;
    cursor: pointer;
}
.Nav_profile_detail {
    position: relative;
    left: 53.2%;
    cursor: pointer;
}


/* Profile 컴포넌트 디자인 */
.Profile_wrap {
    width: 32%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
.Profile_box {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    padding: 4%;
}
.Profile_box img{
    margin-top: 5%;
    border-radius: 50%;
    width: 90%;
}
.Profile_box h2 {
    margin-top: 5%;
    font-size: 3vh;
}
.Profile_box > span {
    color: gray;
    font-size: 2.8vh;
    margin-bottom: 5%;
}
.Profile_box > p {
    font-weight: 600;
    margin-bottom: 5%;
    font-size: 2vh;
}
.F_font {
    color: gray;
    margin-left: 3%;
    font-size: 2vh;
    font-weight: 600;
}
.F_number {
    font-weight: bold;
    font-size: 2vh;
}
.Profile_follower {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;
}
.Profile_company {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.Profile_company p {
    width: 100%;
    font-weight: 500;
    font-size: 2vh;
}
.Profile_icon {
    margin-right: 3%; 
}



.Commit_in_Profile {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1.5px solid #1c2028;
    border-radius: 15px;
    margin-top: 10%;
}
.Commit_in_Profile_each_Box {
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 10%;
    font-size: 2.2vh;
    font-weight: bold;
}
.Commit_in_Profile_each_Box p {
    line-height: 300%;
}
.Commit_in_Profile_each_Box span {
    line-height: 300%;
    margin-left: 2%;
}



.Today_commit_wrap {
    color: white;
    width: 90%;
    height: 35vh;
}
.Today_commit_container {
    height: 50%;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #1c2028;
    border-radius: 10px;
}
.Yesterday_commit_box {
    /* background-color: aliceblue; */
    width: 50%;
    height: 100%;
}
.Today_commit_box {
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
}
/* .Today_commit_box p {
    font-size: 4vh;
}
.Today_commit_box span {
    font-size: 4vh;

} */



.Graph_box_wrap {
    width: 90%;
    height: 35vh;
    border: 1.5px solid #1c2028;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Graph_select_menu {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.Graph_select_menu div {
    width: 15%;
    height: 60%;
    background-color: #21252f;
    border: 0.8px solid rgb(76, 76, 76);
    border-radius: 7px;
    text-align: center;
    line-height: 250%;
    color: white;
    font-weight: bold;
    font-size: 1.7vh;
    cursor: pointer;
}
.Graph_select_menu div:hover {
    background-color: #2a2f3c;
    border: 1.2px solid rgb(90, 90, 90);
}
.Graph_box_graph {
    width: 90%;
    height: 70%;
}

.Graph {
    width: 100%;
    height: 95%;
    background-color: #21252f;
    border-radius: 10px;
}



.MyCommit_wrap {
    width: 90%;
    height: 35vh;
    border: 1.5px solid #1c2028;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.MyCommit_text_box {
    width: 90%;
    height: 20%;
    color: white;
    text-align: center;
}
.MyCommit_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.MyCommit_text p {
    line-height: 250%;
    height: 100%;
    font-size: 2vh;
    margin-left: 0.5%;
}
.MyCommit_text span {
    line-height: 250%;
    height: 100%;
    font-size: 2vh;
}
.MyCommit_box {
    width: 90%;
    height: 70%;
}
.MyCommit_innerBox {
    width: 100%;
    height: 95%;
    background-color: #21252f;
    border-radius: 10px;
}