* {    /* 초기 설정 */
    margin: 0;
    padding: 0;
    border: none;
    color: white;
}


/* 전체를 감싸주는 박스 */
.Rank_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgb(32, 33, 44);
}


/* 네비게이션바를 화면 상단에 고정시킴 */
.Nav_fix {
    width: 100%;
    height: 7vh;
    position:fixed;
}


/* 빈 공간을 채우는 용도인 박스 */
.Empty_box {
    width: 100%;
    height: 7vh;
}



/* 아래 랭킹 부분들을 감싸는 컨테이너 */
.Rank_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 93vh;
}



/* Top에서 3명만 나타내는 박스 */
.Top_ranker_box {
    width: 100%;
    height: 35vh;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}
.Top_title {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 3vh;
    margin-top: 2.5%;
    font-weight: 700;
}
.Top_ranker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 25vh;
    margin: 1%;
    box-shadow: 2px 2px 20px rgb(167, 167, 167), -2px -2px 20px rgb(167, 167, 167);
}
.Top_ranker img {
    width: 30%;
}
.Top_ranker p {
    font-size: 2.5vh;
    font-weight: 500;
}
.Top_ranker span {
    font-size: 2vh;
    color: gray;
}
.Top_ranker div {
    background-color: rgb(53, 57, 68);
    color: white;
    font-weight: bold;
    width: 50%;
    height: 15%;
    border-radius: 5vh;
    text-align: center;
    padding-top: 3%;
    margin-top: 5%;
}



/* 유저간의 랭킹을 나타내는 박스 */
.Totally_rank_box {
    width: 100%;
    height: auto;
    /* background-color: rgb(207, 226, 255); */

}
.Commit_league {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 33, 44);
}




/* 랭킹에 나타나는 유저 박스 */
.Rank_user_box {
    width: 60%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid rgb(39, 43, 48); */
    box-shadow: 3px 3px 10px gray;
    border-radius: 100px;
    margin-bottom: 2%;
}
.User_rank {

}
.User_profile_image {
    width: 25px;
}
.User_name {

}
.User_id {

}
.User_total_commit {

}
.User_total_commit_num {

}
.User_github_address {

}
